# ignore all
*

# include folder '06-conv_fashion_mnist' and all its subfolders
!06-conv_fashion_mnist
!06-conv_fashion_mnist/**
!06-conv_fashion_mnist/.*

# include folder '15-classify_dvsg' and all its subfolders
!15-classify_dvsg
!15-classify_dvsg/**
!15-classify_dvsg/.*

# exclude dataset folder '15-classify_dvsg/DVS128Gesture' ( too large )
15-classify_dvsg/DVS128Gesture
15-classify_dvsg/DVS128Gesture/**
15-classify_dvsg/DVS128Gesture/.*

# exclude temporary code folder '15-classify_dvsg/pb_infer'
15-classify_dvsg/pb_infer
15-classify_dvsg/pb_infer/**
15-classify_dvsg/pb_infer/.*

# include folder '16-davispku' and all its subfolders
!16-davispku
!16-davispku/**
!16-davispku/.*

# exclude temporary code folder '16-davispku/old'
16-davispku/old
16-davispku/old/**
16-davispku/old/.*

# exclude 仿真输入输出示例
16-davispku/仿真输入输出示例
16-davispku/仿真输入输出示例/**
16-davispku/仿真输入输出示例/.*

# exclude temporary code folder '16-davispku/pc'
16-davispku/pc
16-davispku/pc/**
16-davispku/pc/.*

# exclude binary file folder named 'debug', 'bin'
*/debug
*/bin

# include gitignore
!.gitignore

# exclude pycache files
__pycache__/